/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px  ;
}

.download-resume {
    font-weight: 244px;
    height: 57px;
    color: #0D1321;
    border-radius: 8px;
}

.site-hero {
    background: url('./assets/Hero-bg.png');
}

.site-hero {
    padding: 32px 442px;
    display: flex;
    color: #0D1321;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.site-hero h1{
    font-family:"Azeret Mono" ;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0%;
    width: 998px;
    height: 136px;
}



.site-hero a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    font-weight: 244px;
    width: 244px;
    height: 65px;
    background-color: #0D1321;
    border-radius: 8px;
    color: white;

}

.main{
    align-items: center;
    text-align: center;
    margin: 148px 400px;
    background-color: rgb(233, 231, 231);
    border: 1px  solid rgb(245, 235, 235) ;
    border-radius: 16px;

}

.and-about-web{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid white;
    border-radius: 16px;
    margin: 10px 220px;
}

.about-web{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid white;
    border-radius: 16px;
    margin: 10px 220px;
}

.main a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    font-weight: 244px;
    width: 244px;
    height: 65px;
    background-color: white;
    border-radius: 8px;
    color: #0D1321;
    margin: 40px;

}

.youtube{
    align-items: center;
    text-align: center;
    margin: 50px 70px;
    border: 1px solid white;
}

.video{
    border: 1px solid transparent;
    border-radius: 16px;
    width: 50%;
    height: 300px;
    margin:40px 400px;
}

.current{
    align-items: center;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 0;
    margin-bottom: 100px;
}
.current a {
    color:#0D1321 ;
}

.about-code{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 50px;
}

.about-html{
    text-align: left;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: #F4AC9A;
    box-sizing: 100px;
    padding: 35px;
}

.about-css{
    text-align: left;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: #BDCCEC;
    box-sizing: 100px;
    padding: 35px;
}

.about-js{
    text-align: left;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: #FFF18F;
    box-sizing: 100px;
    padding: 35px;
}

.support{
    align-items: center;
    text-align: center;
    margin: 40px 0px;
    background: url(assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.support input{
    border-radius: 16px;
    padding: 20px 80px;
}

.support button {
    padding: 20px 25px;
    border: 1px solid transparent;
    border-radius: 16px;
    margin: 10px;
}

.footer{
    background-color: #d7e0f3;
    border-radius: 8px;
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 150px ;
}

.footer-a a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0f357c;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}

.text-color{
    color: #0D1321;
}
p{
    color: #0D1321;
}